[submodule "bella"]
	path = bella
	url = https://github.com/craft2es/bella/
[submodule "suicidios"]
	path = suicidios
	url = https://github.com/craft2es/suicidios
[submodule "jornaleros"]
	path = jornaleros
	url = https://github.com/craft2es/jornaleros
[submodule "bajo-santuario"]
	path = bajo-santuario
	url = https://github.com/craft2es/bajo-santuario
[submodule "chicosinmigrantes"]
	path = chicosinmigrantes
	url = https://github.com/craft2es/chicosinmigrantes
