/**
 * Copyright 2017. Constanza Gallardo, Mónica Cordero and Alma Sacasa. NYCity News Service.
 * Developed in "Craft 2 in Spanish" course, Spring 2017 semester. CUNY Graduate School of Journalism.
 **/


@fa-font-path: "../font";


@import url('https://fonts.googleapis.com/css?family=Muli:400,600|Playfair+Display:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Montserrat');


body {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 1em;
  height: 100%;
  margin: 0;  padding: 0;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* HEADER */
h1 {
  font-size: 5.1rem;
  padding: 0px 10px 0px 10px;
  margin-top: 230px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 5rem;
}

.videotitulo {
  font-size: 5.1rem;
  padding: 0px 10px 0px 10px;
  margin-top: 40px;
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  line-height: 5rem;
  }


section {
  background-color: white;
  }

.headertop{
  position: relative;
  height: 80vh;
  }


.main-box {
 display: block;
 width: 100%;
 background: url('../images/foto24.JPG');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: top center;
 background-attachment: fixed;
 }

 .main-video {
 display: block;
 width: 100%;
 background: url('../images/foto21.JPG');
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center center;
 background-attachment: fixed;
  }

/* LA BAJADA */
.bajada {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Playfair Display', serif; */
  font-size: 1.2rem;
  /*margin-bottom: 50px; */
  margin-top: -20px;
  color: white;
  padding: 0px 200px 0px 200px;
  text-align: center;
  }

.byline {
  font-style: italic;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  color: white;
  }

@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
    0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@-moz-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff,
    0 0 20px #B6FF00, 0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff,
    0 0 40px #B6FF00, 0 0 70px #B6FF00, 0 0 80px #B6FF00, 0 0 100px #B6FF00, 0 0 150px #B6FF00;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #B6FF00,
    0 0 35px #B6FF00, 0 0 40px #B6FF00, 0 0 50px #B6FF00, 0 0 75px #B6FF00;
  }
}

/* BODY TEXT WITH ELEMENTS - CUERPO DEL TEXTO CON ELEMENTOS */

.texto {
  padding: 30px 340px 30px 340px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  font-size: 1.1rem;
  color: black;
  line-height: 1.6rem;
  }


/* QUOTES DIV - DIV DE CITAS */
.cita1 {
  font-family: 'Roboto', sans-serif;
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
  position: relative;
  float: right;
  margin: 0px -200px 0px 30px;
  text-align: center; /* centrado o no? */
  }


.svg {
  width: 180px;
  height: 210px;
  margin-left: 5px;
  margin-bottom: -90px;
  color: #AEFF14;
  }

/* SVG ICON ON HOVER */
div.svg :hover {
  -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1.5s ease-in-out infinite alternate;
  }

/* PHOTOS WITH CAPTIONS AND FILTERS - FOTOS CON CAPTIONS Y FILTROS */
img {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  }

figcaption {
  padding: 0px 10px 0px 20px;
  top: -10px;
  display: block;
  font-size: 0.8em;
  position: relative;
  font-family: 'Roboto', sans-serif;
  }

/* FINAL CAPTION FOR RAMOS IMG */
.pie {
clear: both;
font-family: 'Roboto', sans-serif;
 }

.foto-filtro img:hover {
-webkit-filter: invert(30%);
-webkit-filter: saturate(2.5);
}

/* ASIDE AUDIOGRAM  */
.audiogram-bella {
  position: relative;
  float: right;
  margin: 0px -100px 0px 30px;
  }

.audiotext {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0;
  }

.controls {
  position: relative;
  }


/* SVG DOLLAR BILL ICON */
.icono {
  text-align: center;
  }

/* VIDEO VIMEO */
.videovimeo iframe {
  display: block;
  width: 960px;
  height: 540px;
  margin: 50px 150px 50px 150px;
  padding-top: 60px;
  }

/* BLOCKQUOTES WITH NUMBERS - CON CIFRAS */
.quote .numero {
  display: block;
  font-size: 6em;
  padding: 55px 0 65px 0;
  font-family: 'Roboto', sans-serif;
  }

.quote-left {
  float: left;
  margin-left: -180px;
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.9em;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: medium;
  margin-bottom: 30px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-color: #1CB200;
  /*border-color: #87FF14; */
  }

/* FOOTER */

footer {
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding: 50px 0;
  }

.nyc {
  width: 30%;
  height: auto;
  }

.nyctexto {
  font-size: 1rem;
  line-height: 1.5rem;
  margin: 50px 180px 50px 180px;
  }

.menu-footer {
  font-size: 1.5em;
  padding-top: 20px;
  color: white;
  }

nav ul {
  list-style: none;
  color: white;
  }

/* LINKS */

/* UNVISITED LINK */
a:link {
  color: #1CB200;
  }

/* VISITED LINK */
a:visited {
  color: #1CB200;
  text-decoration: underline;
  }

/* SELECTED LINK */
 a:active {
  color: #1CB200;
  text-decoration: underline;
  }

/* MOUSE OVER LINK */
a:hover {
  color: #1CB200;
  text-decoration: underline;
  }

/* MOBILE */
@media only screen and (min-width : 320px) {

  .headertop {
   top: 0;
   }

    h1 {
    position: absolute;
    bottom: 180px;
    left: 0;
    right: 0;
    margin-top: 0px;
    font-size: 2.5rem;
    line-height: 2.6rem;
    padding: 0px 10px 0px 10px;
   }

    .bajada {
     position: absolute;
     left: 0;
     right: 0;
     bottom: 50px;
     font-size: 1rem;
     padding: 0 20px ;
     margin-top: 0px;
   }

    .hide-mb {
    display: none;
   }

    .texto {
    padding: 50px 30px 50px 30px;
  }


    .quote-left {
    float: none;
    margin-left: 0;
    margin-right: 0;
    font-size: 1.5rem;
  }

    .cita1 {
    float: none;
    margin-right: 0;
    font-weight: 400;
    font-size: 1.5rem;
    padding-right: 30px;
  }

    .audiogram-bella {
    float: none;
  }

}

/* MEDIAQUERIES MEDIUM DEVICES, DESKTOP */
@media only screen and (min-width : 970px) {

  .headertop {
    padding: 60px;
    font-size: 3rem;
  }

  .hide-mb {
    display: block;
  }

  h1 {
    position: absolute;
    bottom: 90px;
    left: 0;
    right: 0;
    margin-top: 0px;
    font-size: 4.3rem;
    line-height: 4.3rem;
    padding: 0px 10px 0px 10px;
  }

  .bajada {
    position: absolute;
    text-align: center;
    bottom: 7px;
    font-size: 1.1rem;
    padding: 0 260px; 
    margin-top: 0;
  }

  .texto {
      /* padding: 20px 280px 280px; */
      padding: 60px 25% 30px 25%;
  }
  
  .quote-left {
    font-size: 2rem;
    font-weight: 400;
    float: left;
    margin-left: -180px;
    margin-right: 30px;
  }

  .cita1 {
    float: right;
    margin-right: -180px;
    font-size: 2.3rem;
    font-weight: 400;
  }

  .audiogram-bella { 
    float: right;
  }
}

/* MEDIAQUERIES LARGE DEVICES, WIDE SCREENS */
@media only screen and (min-width : 1300px) {
  
  h1 {
    position: absolute;
    bottom: 160px;
    left: 0;
    right: 0;
    margin-top: 0px;
    font-size: 7.2rem;
    line-height: 7rem;
    padding: 0px 10px 0px 10px;
  }

  .bajada {
    position: absolute;
    bottom: 10px;
    font-size: 1.7rem;
    padding: 0 300px 0 300px;
    margin-top: -40px;
  }

  .byline {
    font-size: 1.5rem;
  }

  .texto {
    padding: 30px 20% 30px 20%;
  }

  .cita1 {
    font-size: 3rem;
    margin-top: -10px;
    float: right;
  }

  .quote-left {
    float: left;
    padding-right: 50px;
   } 

}


/* MENU */

.language {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 100%;
}

.language li{
  width: auto;
  /* float: right; */
}


.language a {
    padding: 15px 0;
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: .9rem;
}

.language a:hover{
    color: grey;
}



/* ABOUT PAGE */

.headerabout {
  margin: 0px 500px 50px 300px;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 7.5rem;
  text-align: center;
 }

.about {
  color: black;
  padding: 0px 300px 10px 50px;
  font-size: 1.5rem;
  font-family: 'Playfair Display', serif;
 }

.foto-about {
  width: 70%;
  height: auto;
  float: right;
  position: relative;
  padding-left: 1100px;
  right: 10px;
}







